.card{
    transition: .4s;
}
.card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.button-tab{
    transition: .4s;
}

.button-tab:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
.react-tabs__tab--selected {
    border-bottom: 5px solid #035dac;
  }